.login-box > .login-logo > .img-circle {
    width: 125px;
}

.img-size-50 {
    width: 50%;
}

.img-size-25 {
    width: 25%;
}

.box-logo-store {
    padding: 10px;
}

.box-logo-store .logo-store-inner {
    position: relative;
    overflow: hidden;
    width: 256px;
    height: 256px;
    margin: 0px auto;
    border: 5px solid #ebebeb;
    /*background-color: #738bd7;*/
    background-size: 256px 256px;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transition: box-shadow .1s;
    transition: box-shadow .1s;
}

.box-logo-store .logo-store-inner:hover .logo-store-hint {
    visibility: visible;
}

.box-logo-store .logo-store-inner .logo-store-hint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    visibility: hidden;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
    white-space: pre;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(0,0,0,.75);
}


.boxCategory > .info-box-content > .info-box-text {
    text-transform: none;
}

/*.boxCategory > .box-tools {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.boxCategory:hover > .box-tools {
    opacity: 1;
}*/

.boxCategory > .box-tools > .btn-box-tool-edit {
    color: #63cd5e;
}

.boxCategory > .box-tools > .btn-box-tool-edit:hover {
    color: #3aa935;
}

.boxCategory > .box-tools > .btn-box-tool-delete {
    color: #fd5474;
}

.boxCategory > .box-tools > .btn-box-tool-delete:hover {
    color: #fc0836;
}

.button-effect-1 {
    font-size: .9em;
    display: inline-block;
    margin: 1em;
    margin-left: 0;
    color: #fff;
    background-color: #3c8dbc;
    padding: .6em 1.25em;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    box-shadow: 0 6px #204d74,0 12px 5px rgba(0,0,0,0.2);
    -webkit-transition: background .15s linear,color .15s linear;
    transition: background .15s linear,color .15s linear;
    text-align: center;
    outline: none;
}

.button-effect-1:hover, .button-effect-1:focus {
    color: #fff;
    background-color: #367fa9;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    border: none;
    box-shadow: 0 4px #204d74,0 6px 5px rgba(0,0,0,0.2);
}

.box-galery-products > div {
    overflow: hidden;
    margin-bottom: 5px;
}

.box-galery-products > .box-image {
    /*border: 1px solid #ccc;*/
}

.box-galery-products > .box-image > img {
    width: 100%;
    height: 200px;
}

.box-galery-products > .box-image > button {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background-color: red;
    padding: 3px;
}

.box-galery-products > .box-image > .btn-box-tool-delete {
    color: #fff;
}

.fix-padding-scrollbar{
    padding-right: 0px !important;
}

.border-input-error{
    border-color: #dd4b39 !important;
    box-shadow: none;
}