.login-box > .login-logo > .img-circle {
    width: 125px;
}

.img-size-50 {
    width: 50%;
}

.img-size-25 {
    width: 25%;
}

.box-logo-store {
    padding: 10px;
}

.boxCategory > .info-box-content > .info-box-text {
    text-transform: none;
}

.boxCategory > .box-tools > .btn-box-tool {
    color: #fd5474;
}

.boxCategory > .box-tools > .btn-box-tool:hover {
    color: #fc0836;
}

