.login-box > .login-logo > .img-circle {
    width: 125px;
}

.img-size-50 {
    width: 50%;
}

.img-size-25 {
    width: 25%;
}

.box-logo-store {
    padding: 10px;
}

.boxCategory > .info-box-content > .info-box-text {
    text-transform: none;
}

.boxCategory > .box-tools {
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.boxCategory:hover > .box-tools {
    display: block;
}

.boxCategory > .box-tools > .btn-box-tool-edit {
    color: #63cd5e;
}

.boxCategory > .box-tools > .btn-box-tool-edit:hover {
    color: #3aa935;
}

.boxCategory > .box-tools > .btn-box-tool-delete {
    color: #fd5474;
}

.boxCategory > .box-tools > .btn-box-tool-delete:hover {
    color: #fc0836;
}

